.add-form,.display-area{
	margin-top: 20px;
}
.contact-area{
	height: 500px;
	overflow-y: scroll;
	margin-top: 10px;
}
.single-contact{
	margin: 10px 0px;
	border:2px solid #000;
	border-radius: 5px;
}
.single-contact .name-section{
	font-size: 20px;
	padding:10px;
}
.single-contact .other-detail-section{
	padding:0px 10px;
	min-height: 50px;
}
.no-contact-info{
	font-size: 18px;
}